absl-py==2.0.0
aiobotocore
aiohappyeyeballs
aiohttp==3.11.8
aioitertools
aiosignal
alabaster
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid==3.3.5
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
asyncssh==2.18.0
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blosc2==2.0.0
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools==5.3.2
certifi
cffi
cftime==1.6.3
chardet
charset-normalizer
clarabel==0.6.0
click
cloudpickle
clyent==1.2.2
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cvxpy==1.4.1
cycler
Cython==3.0.6
cytoolz
daal4py==2023.1.1
dask
dask-expr
datasets
datashader
debugpy
decorator==4.4.2
defusedxml
Deprecated
dgl==1.1.2+cu118
dglgo==0.0.2
diff-match-patch
dill
distributed
distro
docker-pycreds==0.4.0
docstring-to-markdown
docutils
ecos==2.0.12
einops==0.7.0
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
flatbuffers==23.5.26
fonttools
frozendict
frozenlist
fsspec
future
gast==0.4.0
gensim
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.42
gmpy2
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet
grpcio==1.59.2
h11
h5py
hdf5storage==0.1.19
HeapDict
holoviews
httpcore
httpx
huggingface_hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isort==5.12.0
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jeepney
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras==2.14.0
keyring
kiwisolver
lazy_loader==0.3
libarchive-c
libclang==16.0.6
libmambapy
lightning-utilities==0.10.0
lingam==1.8.2
linkify-it-py
littleutils==0.2.2
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
ml-dtypes==0.2.0
mne==1.6.1
mne-connectivity==0.6.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
mypy-extensions
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4==1.6.5
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib==3.2.2
obspy==1.4.0
ogb==1.3.6
openpyxl
opt-einsum==3.3.0
osqp==0.6.3
outdated==0.2.2
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pep8==1.7.1
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
pooch==1.8.1
progressbar2==4.2.0
prometheus_client
prompt-toolkit
propcache
Protego
protobuf==4.25.0
psutil
psy==0.0.1
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pybind11==2.11.1
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
pyg-lib==0.3.0+pt21cu118
pygam==0.9.0
PyGithub
Pygments
PyGSP==0.5.1
PyJWT
pylint==3.3.1
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
PyOpenGL==3.1.7
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-Qt5==5.15.15
PyQt5-sip
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.15
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-utils==3.8.1
pytoolconfig
pytorch-lightning==2.1.2
pytz
pyuca
pyviz_comms
PyWavelets
pyxdg
PyYAML
pyzmq==26.2.0
QDarkStyle
qdldl==0.1.7.post0
qstylizer
QtAwesome
qtconsole
QtPy==2.4.2
queuelib
rdkit-pypi==2022.9.5
referencing
regex
requests
requests-file
requests-oauthlib==1.3.1
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich
rope==1.13.0
rpds-py
rsa==4.9
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs
safetensors
scikit-image
scikit-learn
scikit-learn-intelex==20230426.111612
scipy
Scrapy
scs==3.2.4
seaborn
SecretStorage
semver
Send2Trash
sentry-sdk==1.43.0
service-identity
setproctitle==1.3.3
sip
six
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder==6.0.2
spyder-kernels
SQLAlchemy
stack-data
statsmodels
superqt
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorly==0.8.1
termcolor==2.3.0
terminado
test-tube==0.7.5
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
tomli
tomlkit
toolz
torch==2.1.0+cu118
torch-cluster==1.6.3+pt21cu118
torch-geometric-temporal==0.54.0
torch-scatter==2.1.2+pt21cu118
torch-sparse==0.6.18+pt21cu118
torch-spatiotemporal==0.9.4
torch-spline-conv==1.2.2+pt21cu118
torch_geometric==2.4.0
torchaudio==2.1.0+cu118
torchdiffeq==0.2.3
torchmetrics==1.2.0
torchsummary==1.5.1
torchvision==0.16.0+cu118
tornado
tqdm
traitlets
transformers
triton==2.1.0
truststore
tueplots==0.0.14
Twisted
typer==0.9.0
typing_extensions==4.5.0
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3
w3lib
wandb==0.16.4
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wordcloud==1.9.3
wrapt
wurlitzer
xarray==2024.2.0
xxhash
xyzservices
yapf==0.43.0
yarl
zict
zipp
zope.interface
zstandard
